{% extends 'main.html' %}

{% block content %}
  <style>
    .profile-container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  </style>

  <h1>{{ user.username }}</h1>

  <div class="profile-container">
    <div>
      {% include 'baseApp/components/topics_browser.html' %}
    </div>
    <div>
      {% include 'baseApp/components/feed.html' %}
    </div>
    <div>
      {% include 'baseApp/components/activities_bar.html' %}
    </div>
  </div>
{% endblock %}
