<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    {% block content %}
      <h1>Home here</h1>
      <a href="{% url 'create-room' %}">Create Room</a>
      <div>
        {% for room in rooms %}
          <a href="{% url 'update-room' room.id %}">Edit</a>
          <a href="{% url 'delete-room' room.id %}">Delete</a>
          <span>@{{ room.host.username }}</span>
          <p>
            {{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a>
          </p>
          <small>{{ room.topic.name }}</small>
          <hr />
        {% endfor %}
      </div>
    {% endblock %}
  </body>
</html>
